[Unit]
Description=Todoist Notifier Display
After=network.target graphical.target

[Service]
Type=simple
User=dmil
WorkingDirectory=/home/dmil/todoist-notifier
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/dmil/.Xauthority"
ExecStart=/home/dmil/todoist-notifier/venv/bin/python3 /home/dmil/todoist-notifier/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=graphical.target
